h1 {
    font-size: 30px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white
}

p {
    font-size: 15px;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: white
}

body {
    color: white;
    background-color: black;
    text-align: center;
}